body {
background: linear-gradient(#A7D166, #7996B3);
color: black;
/*text-shadow: 1px 1px 5px #FFFFFF;*/

-moz-hyphens:auto;
-ms-hyphens:auto;
-webkit-hyphens:auto;
hyphens:auto;
word-wrap:break-word;

}



@supports (not (hyphens: auto))  {


   
    body {word-wrap:normal;}
	
	.tg .tg-yw4lap{word-break: break-all;}
	
 
}



#wrapper {
 /*width: 1700px; */
 /*margin: 0 auto;
 padding: left 500px;*/
width: 100%;
}


.header 

{
display:table;
/*padding: 20px;*/
clear:both;
/*background: #FAEEF5;*/
background: #000000;
/*width: 100%;*/
min-width: 270px;
/*
height: 200px;
width:1200px;
*/
}

#header_footer_text

{

padding: 20px;
}

h1 {

color: white;

}

h2 {

color: white;

}


.button {
    width:150px;
    height: 50px;
    border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 2px solid #092A4A;
	background: #F0F0F0;
	text-align: center;
	/*##text-shadow: black 0.1em 0.1em 0.2em;
	##color: white;*/
	font-size: 25px;
	display:block;
    margin: 0 auto;
}

.input{
    width:150px;
    height: 50px;
    border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 2px solid #092A4A;
	text-align: center;
	/*text-shadow: black 0.1em 0.1em 0.2em;
	##color: white;*/
	font-size: 25px;
	margin: 0 auto;
	display: block;
}


#pradine_info {

	border: 2px solid #73AD21;
	background: #FFFFFF;
    padding: 20px;
 /*   width: 100%; */
	min-width: 270px;
/*	height: 400px; */ 
	/*float: left;*/
	/*display:flex;*/
	display: block;
	
}

.submit {

	/*padding-top: 15px;*/
	/*background: #DAEEF5;*/
	;}

#input_area_l2 {
   /* border-radius: 2px; */
    border: 2px solid #73AD21;
	background: #FFECA7;
    padding: 20px;
     /*width: 250px;
    height: 250px; */
	float: left;
}


#muito_ivestis {
 
	border: 2px solid #73AD21;
	background: #FFFFFF;
    padding: 20px;
 /*   width: 100%; */
	min-width: 270px;
/*	height: 400px; */
   /* height: 230px;*/
	float: left;
	display:block;
}


#taikomi_mokesciai {

	border: 2px solid #73AD21;
	background: #FFFFFF;
    padding: 20px;
/*	width: 100%; */
	   /* width: 250px;
    height: 230px; */
/*	height: 400px; */
	float: left;
	display:block;
}


#paskaiciuoti_mokesciai {


	border: 2px solid #73AD21;
	background: #FFFFFF;
    padding: 20px;
/*	width: 100%; */
	 /*   width: 250px;
    height: 230px; */
/*	height: 400px; */
	float: left;
	display:block;
}



form span {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: black;
	font-weight: 690;
	padding-bottom: 5px;	
}

/* http://www.tablesgenerator.com/html_tables */
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;min-width: 270px; width: 100%;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:15px;font-weight:bold;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;border-color:#999;color:#fff;background-color:#26ADE4;text-shadow: 2px 2px 5px #0;}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-yw4ln{vertical-align:top;background-color:#EFFFDE; }
.tg .tg-yw4ly{vertical-align:top;background-color:#FFDEDF;}


.area_header {

/*background-color:#DEFFFF;*/


}

.footer {

bottom: 0;
position: relative;
display:table; 
clear:both;
background: #000000;
color: white; 
width: 100%; 
/*margin: 0;*/
min-width: 270px;
left:0;
right:0;
}

/* unvisited link */
a:link {
    color: orange;
	text-decoration: none;
}

/* visited link */
a:visited {
    color: orange;
	text-decoration: none;
}

/* mouse over link */
a:hover {
    color: red;
	text-decoration: underline;
}

/* selected link */
a:active {
    color: blue;
	text-decoration: underline;
}

@media only screen and (min-width: 640px),only screen and (min-device-width:640px) {

body {
height: 500px;
background: linear-gradient(#A7D166, #7996B3);
color: black;
/*text-shadow: 1px 1px 5px #FFFFFF;*/

-moz-hyphens:auto;
-ms-hyphens:auto;
-webkit-hyphens:auto;
hyphens:none;
word-wrap:normal;


}


	.header 

	{
	display:table;
	clear:both;
	/*background: #FAEEF5;*/
	background: #000000;
	width: 100%;
	min-width: 270px;
	/*
	height: 200px;
	width:1200px;
	*/
	}



	#pradine_info {

	border: 2px solid #73AD21;
	background: #FFFFFF;
    padding: 20px;
    width: 290px;
	height: 400px; 
	float: left;
	/*display:flex;*/
	display: block; }
	
#muito_ivestis {
 
	border: 2px solid #73AD21;
	background: #FFFFFF;
    padding: 20px;
    width: 250px;
	height: 400px; 
   /* height: 230px;*/
	float: left;
	display:block;
}

#taikomi_mokesciai {

	border: 2px solid #73AD21;
	background: #FFFFFF;
    padding: 20px;
	width: auto;
   /* width: 250px;
    height: 230px; */
	height: 400px; 
	float: left;
	display:block;
}

#paskaiciuoti_mokesciai {


	border: 2px solid #73AD21;
	background: #FFFFFF;
    padding: 20px;
	width: auto;
 /*   width: 250px;
    height: 230px; */
	height: 400px; 
	float: left;
	display:block;
}

.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;width: 450px;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;hyphens:none;}
.tg th{font-family:Arial, sans-serif;font-size:15px;font-weight:bold;padding:10px 5px;border-style:solid;border-width:1px;overflow:normal;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;text-shadow: 2px 2px 5px #0;hyphens:none;}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-yw4ln{vertical-align:top;background-color:#EFFFDE; }
.tg .tg-yw4ly{vertical-align:top;background-color:#FFDEDF;}
.tg .tg-yw4lap{word-break: normal;


	};